<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Portfolio Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="../../static/js/tagsinput.js" th:src="@{/js/tagsinput.js}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}" />
<link rel="stylesheet" href="../../static/css/tagsinput.css" th:href="@{/css/tagsinput.css}" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">My Portfolio</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/index" th:href="@{/index}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/jorgeamadosoria/portfolio">Github</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" th:href="@{/about}">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/index" th:href="@{/admin/index}">Admin</a>
					</li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<form method="post" action="#" th:action="@{/logout}">
							<button type="submit" class="btn btn-link">Logout</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div id="row">
			<div id="col-lg-12">
				<ul class="nav nav-tabs" id="adminTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="techs-tab" data-toggle="tab" href="#techs" role="tab" aria-controls="techs" aria-selected="false">Tech</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="types-tab" data-toggle="tab" href="#types" role="tab" aria-controls="types" aria-selected="false">Types</a>
					</li>
				</ul>
				<div class="tab-content" id="adminTabContent">
					<div class="tab-pane fade show active" id="projects" role="tabpanel" aria-labelledby="projects-tab">
						<br />
						<form id="projectForm" method="post" action="#" th:action="@{/admin/project}">
							<input type="hidden" id="id" name="id">
							<div class="form-row">
								<div class="col">
									<input type="checkbox" id="available" name="available" />
								<label class="form-check-label"> Public </label>
								</div>

								<div class="col">
									<input id="image" placeholder="Image Url" name="image" class="form-control" />
								</div>
								<div class="col">
									<input id="name" placeholder="Name" name="name" maxlength="255" class="form-control" />
								</div>
								<div class="col">
									<select id="status" name="status" class="form-control">
										<option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
									</select>
								</div>
								<div class="col">
									<select id="type" name="type" class="form-control">
										<option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}" />
									</select>
								</div>
								<div class="col">
									<input id="year" name="year" placeholder="Year" type="number" class="form-control" />
								</div>
							</div>
							<div class="form-row">
								<div class="col">
									<input id="tags" placeholder="Tags" maxlength="255" name="tags" data-role="tagsinput" class="form-control" />
								</div>
							</div>
							<div class="form-row">
								<div class="col">
									<textarea id="description" name="description" placeholder="Description" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-row">
								<div class="col" th:each="t : ${tech}">
									<input id="tech" name="tech" type="checkbox" th:value="${t.id}">
									<label class="form-check-label" th:text="${t.name}"> Tech1 </label>
								</div>
							</div>
							<div class="form-row">
								<div class="col">
									<div id="links"></div>
									<button id="new_link_button" type="button" class="btn btn-secondary">New link</button>
								</div>
							</div>
							<div class="form-row">
								<div class="col">
									<button type="submit" class="btn btn-secondary">Upsert</button>
								</div>
							</div>
						</form>
						<div id="new_link" class="link form-row d-none">
							<div class="col">
								<input id="display" maxlength="255" placeholder="display" name="Display" class="form-control" />
							</div>
							<div class="col">
								<input id="name" name="name" maxlength="255" placeholder="Url" class="form-control" />
							</div>
							<div class="col">
								<button id="remove" type="button" class="btn btn-secondary">Remove</button>
							</div>
						</div>
						<table id="projects">
							<thead>
								<th>Available</th>
								<th>Description</th>
								<th>Links</th>
								<th>Logo</th>
								<th>Name</th>
								<th>Status</th>
								<th>Tags</th>
								<th>Tech</th>
								<th>Type</th>
								<th>Year</th>
							</thead>
							<tbody>
								<tr th:each="project : ${projects}">
									<td th:text="*{project.available}">YES</td>
									<td th:text="*{project.description}">2.41</td>
									<td>
										<span th:each="link : *{project.links}" th:text="|*{link.name} - ${link.display}|" />
									</td>
									<td>
										<img class="logo" src="http://placehold.it/500x300" th:src="*{project.image}" />
									</td>
									<td th:text="*{project.name}">Onions</td>
									<td th:text="*{project.status}">ACTIVE</td>
									<td th:text="*{project.tags}">tag1,tag2,tag3</td>
									<td>
										<span th:each="tech : *{project.tech}">
											<img class="tech" th:src="*{tech.image}" />
											<span th:text="*{tech.name}" /></span>
									</td>
									<td th:text="*{project.type.name}">WEB</td>
									<td th:text="*{project.year}">2041</td>
									<td>
										<a name="edit" th:id="*{project.id}" href="#">Edit</a>
									</td>
									<td>
										<a name="delete" th:id="*{project.id}" href="#">Remove</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="techs" role="tabpanel" aria-labelledby="techs-tab">
						<br />
						<form id="techForm" method="post" action="#" th:action="@{/admin/tech}" th:object="${tech}">
							<input type="hidden" id="id" name="id" th:value="${id}">
							<div class="form-row">
								<div class="col">
									<input id="name" name="name" maxlength="255" class="form-control" placeholder="Name">
								</div>
								<div class="col">
									<input id="image" name="image" maxlength="255" class="form-control" placeholder="Image Url">
								</div>
								<div class="col">
									<button type="submit" class="btn btn-secondary">Upsert</button>
								</div>
							</div>
						</form>
						<table id="tech">
							<thead>
								<th>Name</th>
								<th>Image</th>
							</thead>
							<tbody>
								<tr th:each="tech : ${tech}">
									<td th:text="*{tech.name}">Onions</td>
									<td>
										<img class="tech" th:src="*{tech.image}" />
									</td>
									<td>
										<a name="edit" th:id="*{tech.id}" href="#">Edit</a>
									</td>
									<td>
										<a name="delete" th:id="*{tech.id}" href="#">Remove</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="types" role="tabpanel" aria-labelledby="types-tab">
						<br />
						<form id="typeForm" method="post" action="#" th:action="@{/admin/type}" th:object="${type}">
							<input type="hidden" id="id" name="id">
							<div class="form-row">
								<div class="col">
									<input id="name" name="name" maxlength="255" class="form-control" placeholder="Name">
								</div>
								<div class="col">
									<input id="description" name="description" maxlength="255" class="form-control" placeholder="Description">
								</div>
								<div class="col">
									<button type="submit" class="btn btn-secondary">Upsert</button>
								</div>
							</div>
						</form>
						<table id="types">
							<thead>
								<th>Name</th>
								<th>Description</th>
							</thead>
							<tbody>
								<tr th:each="type : ${types}">
									<td th:text="*{type.name}">Onions</td>
									<td th:text="*{type.description}">2.41</td>
									<td>
										<a name="edit" th:id="*{type.id}" href="#">Edit</a>
									</td>
									<td>
										<a name="delete" th:id="*{type.id}" href="#">Remove</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- #main -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		$("div#links").on("click", "button#remove", function(e) {
			$(e.target).parents("div.link").remove();
		})

		function addLink(display, name, idx) {
			var newLink = $("div#new_link").clone();
			$(newLink).prop("id", "").toggleClass("d-none");
			$(newLink).find("#display")
					.prop("id", "links[" + idx + "].display").prop("name",
							"links[" + idx + "].display").val(display);
			$(newLink).find("#name").prop("id", "links[" + idx + "].name")
					.prop("name", "links[" + idx + "].name").val(name);
			$("#projectForm #links").append(newLink);
		};

		$("#types a[name=edit]").click(function(e) {
			var url = /*[[@{/admin/type/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$("#typeForm input#id").val(data.id);
				$("#typeForm input#name").val(data.name);
				$("#typeForm input#description").val(data.description);
			});
		});
		$("#types a[name=delete]").click(function(e) {
			var url = /*[[@{/admin/type/delete/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$(e.target).parents("tr").remove();
			});
		});

		$("#tech a[name=edit]").click(function(e) {
			var url = /*[[@{/admin/tech/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$("#techForm input#id").val(data.id);
				$("#techForm input#name").val(data.name);
				$("#techForm input#image").val(data.image);
			});
		});
		$("#tech a[name=delete]").click(function(e) {
			var url = /*[[@{/admin/tech/delete/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$(e.target).parents("tr").remove();
			});
		});

		$("#new_link_button").click(function(e) {
			var count = $("#projectForm #links > div").length;
			addLink(null, null, count);
		});

		$("#projects a[name=edit]").click(
				function(e) {
					var url = /*[[@{/project/}]]*/"";
					$.get(url + $(e.target).attr("id"), function(data) {
						$("#projectForm #id").val(data.id);
						$("#projectForm #available").prop("checked",
								data.available);
						$("#projectForm #description").val(data.description);
						$("#projectForm #name").val(data.name);
						$("#projectForm #image").val(data.image);
						$("#projectForm #status").val(data.status);
						$("#projectForm #year").val(data.year);
						$("#projectForm #tags").val(data.tags);
						$("#projectForm #type").val(data.type.id);
						$("#projectForm #tech").val(data.tech);
						for (var i = 0; i < data.tech.length; i++) {
							$("input#tech[value='" + data.tech[i].id + "']")
									.prop("checked", true);
						}
						for (var i = 0; i < data.links.length; i++) {
							addLink(data.links[i].display, data.links[i].name,
									i);
						}
					});
				});
		$("#projects a[name=delete]").click(function(e) {
			var url = /*[[@{/admin/project/delete/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$(e.target).parents("tr").remove();
			});
		});
		/*]]>*/
	</script>
</body>
</html>