<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Portfolio Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<form id="typeForm" method="post" action="#" th:action="@{/admin/type}" th:object="${type}">
		<input id="id" name="id" th:value="${id}"> 
		<input id="name" name="name" th:value="${name}"> 
		<input id="description" name="description" th:value="${description}">
		<button type="submit">Upsert</button>
	</form>
	<table id="types">
		<thead>
			<th>Name</th>
			<th>Description</th>
		</thead>
		<tbody>
			<tr th:each="type : ${types}">
				<td th:text="*{type.name}">Onions</td>
				<td th:text="*{type.description}">2.41</td>
				<td><a name="edit" th:id="*{type.id}" href="#">Edit</a></td>
				<td><a name="delete" th:id="*{type.id}" href="#">Remove</a></td>
			</tr>
		</tbody>

	</table>
	<hr>
	
	<form id="tagForm" method="post" action="#" th:action="@{/admin/tag}" th:object="${tag}">
		<input id="id" name="id" th:value="${id}"> 
		<input id="name" name="name" th:value="${name}"> 
		<input id="description" name="description" th:value="${description}">
		<button type="submit">Upsert</button>
	</form>
	<table id="tags">
		<thead>
			<th>Name</th>
			<th>Description</th>
		</thead>
		<tbody>
			<tr th:each="tag : ${tags}">
				<td th:text="*{tag.name}">Onions</td>
				<td th:text="*{tag.description}">2.41</td>
				<td><a name="edit" th:id="*{tag.id}" href="#">Edit</a></td>
				<td><a name="delete" th:id="*{tag.id}" href="#">Remove</a></td>
			</tr>
		</tbody>

	</table>
	<hr>
	<form id="projectForm" method="post" action="#" th:action="@{/admin/project}" th:object="${project}">
		<input id="id" name="id" th:value="${id}"> 
		<input id="name" name="name" th:value="${name}"> 
		<input id="description" name="description" th:value="${description}">
		<input id="year" name="year" th:value="${year}">
		<button type="submit">Upsert</button>
	</form>
	<table id="projects">
		<thead>
			<th>Name</th>
			<th>Description</th>
		</thead>
		<tbody>
			<tr th:each="project : ${projects}">
				<td th:text="*{project.name}">Onions</td>
				<td th:text="*{project.description}">2.41</td>
				<td th:text="*{project.year}">2041</td>
				<td th:text="*{project.tags}">tag1,tag2,tag3</td>
				<td th:text="*{project.links}">link1,link2,link3</td>
				<td><a name="edit" th:id="*{project.id}" href="#">Edit</a></td>
				<td><a name="delete" th:id="*{project.id}" href="#">Remove</a></td>
			</tr>
		</tbody>

	</table>
	<hr>
	
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		$("#types a[name=edit]").click(function(e) {
			var url = /*[[@{/admin/type/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$("#typeForm input#id").val(data.id);
				$("#typeForm input#name").val(data.name);
				$("#typeForm input#description").val(data.description);
			});
		});
		$("#types a[name=delete]").click(function(e) {
			var url = /*[[@{/admin/type/delete/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$(e.target).parents("tr").remove();
			});
		});
		
		$("#tags a[name=edit]").click(function(e) {
			var url = /*[[@{/admin/tag/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$("#tagForm input#id").val(data.id);
				$("#tagForm input#name").val(data.name);
				$("#tagForm input#description").val(data.description);
			});
		});
		$("#tags a[name=delete]").click(function(e) {
			var url = /*[[@{/admin/tag/delete/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$(e.target).parents("tr").remove();
			});
		});
		
		$("#projects a[name=edit]").click(function(e) {
			var url = /*[[@{/admin/project/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$("#projectForm input#id").val(data.id);
				$("#projectForm input#name").val(data.name);
				$("#projectForm input#description").val(data.description);
				$("#projectForm input#year").val(data.year);
			//	$("#projectForm input#type").val(data.type);
			//	$("#projectForm input#tags").val(data.tags);
			//	$("#projectForm input#links").val(data.links);
			});
		});
		$("#projects a[name=delete]").click(function(e) {
			var url = /*[[@{/admin/project/delete/}]]*/"";
			$.get(url + $(e.target).attr("id"), function(data) {
				$(e.target).parents("tr").remove();
			});
		});
		/*]]>*/
	</script>
</body>
</html>