<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <table id="types">
    <form method="post" action="#" th:action="@{/admin/type}" th:object="${type}">
    <input id="name" name="name" th:value="${name}">
    <input id="description" name="description" th:value="${description}">
    </form>    <thead><th>Name</th><th>Description</th></thead>
    
    </table>
</body>
</html>