body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.row,.project {
	padding-bottom:10px;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}

.tech {
	width:50px;
	height:50px;
}

.logo {
	width:100px;
	height:100px;
}

 .modal-project-image { 
 	max-width:700px; 
 	max-height:300px;
 	display: block;
    margin-left: auto;
    margin-right: auto;
 } 
.tag_item {
	margin: 2px;
}
 .card-project-image { 
 	max-width:700px; 
 	max-height:300px; 
 	display: block;
    margin-left: auto;
    margin-right: auto;
 } 