<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
<head th:replace="fragments::head('My Portfolio - About')">
>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<!-- Navigation -->
	<nav th:replace="fragments :: header"></nav>
	<!-- Page Content -->
	<div class="container">
		
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-tabs" id="aboutTab" role="tablist">
					<li class="nav-item"><a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">App</a></li>
					<li class="nav-item"><a class="nav-link" id="author-tab" data-toggle="tab" href="#author" role="tab" aria-controls="author" aria-selected="false">Author</a></li>
				</ul>
				<div class="tab-content" id="adminTabContent">
					<div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="techs-tab">
						<br />
					</div>
					<div class="tab-pane fade" id="author" role="tabpanel" aria-labelledby="types-tab">
						<br />
						<div class="card">
						<div class="card-title">Personal</div>
							<div class="card-body" id="personal"></div>
						</div>
						<div class="card">
						<div class="card-title">Languages</div>
							<div class="card-body" id="languages"></div>
						</div>
						<div class="card">
							<div class="card-body" id="tech"></div>
						</div>
						<div class="card">
							<div class="card-body" id="education"></div>
						</div>
						<div class="card">
							<div class="card-body" id="work"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments :: footer"> </footer>
</body>
<script>
	/*<![CDATA[*/
	var url = /*[[${jsonUrl}]]*/ "https://blooming-chamber-41361.herokuapp.com/api/export/5a8cc9b506805e1a4c65c102";
	$.get(url, function(jsonString) {
		var json = JSON.parse(jsonString);
		$("#personal").text(JSON.stringify(json.personal));
		$("#languages").text(JSON.stringify(json.languages));
		$("#education").text(JSON.stringify(json.education));
		$("#work").text(JSON.stringify(json.work));
	//	alert();
		
	});
	/*]]>*/
</script>
</html>
</body>
</html>