<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
<head th:replace="fragments::head('My Portfolio - Home')">
>
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?9ukd8d">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<!-- Navigation -->
	<nav th:replace="fragments :: header"></nav>
	<!-- Page Content -->
	<div class="container">
		<!-- Page Heading -->
		<div class="row" id="projects">
			<div th:each="proj: ${projects}" th:id="*{proj.id}" class="project col-lg-4 col-sm-6">
				<div class="card h-100 border" th:classappend="
				*{proj.status.name()=='ACTIVE'} ? border-success: 
				(*{proj.status.name()=='DORMANT'} ? border-secondary: 
				(*{proj.status.name()=='PROSPECTIVE'} ? border-light: 
				(*{proj.status.name()=='FINISHED'} ? border-primary: border-dark
				)))">
					<div class="h-50">
						<a class="project_link" href="#" data-toggle="modal" data-target="#projectModal"><img class="card-img-top card-project-image h-100" src="http://placehold.it/700x400" th:src="*{proj.image}"></a>
					</div>
					<div class="card-body">
						<h4 class="card-title">
							<a class="project_link" href="#" data-toggle="modal" data-target="#projectModal" th:text="*{proj.name}"></a>
						</h4>
						Status: <small th:text="*{proj.status}"></small>
						<p class="card-text" th:text="*{proj.description}"></p>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
	<!-- Footer -->
	<footer th:replace="fragments :: footer"> </footer>
	<!-- Button trigger modal -->
	<!-- Modal -->
	<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="name">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<img id="image" class="modal-project-image img-fluid" src="http://placehold.it/750x500">
							</div>
							<div class="col-md-4">
								<ul>
									<li id="type">Type</li>
									<li id="status">PROSPECTIVE</li>
									<li id="available">Public</li>
									<li id="year">1984</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h3 class="my-3">Description</h3>
								<p id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
							</div>
						</div>
						<!-- /.row -->
						<!-- Related Projects Row -->
						<h3 class="my-4">Tech</h3>
						<div class="row" id="tech">
							<div class="tech_item col-md-1 col-sm-1 mb-1 d-none">
								<a href="#"> <img class="tech" src="http://placehold.it/500x300" alt="">
								</a>
							</div>
						</div>
						<h3 class="my-4">Links</h3>
						<div class="row" id="links">
							<div class="link_item d-none col-md-12 col-sm-12 mb-12">
								<a href="#" target="new">link</a>
							</div>
						</div>
						<h3 class="my-4">Tags</h3>
						<div class="row" id="tags">
							<span class="tag_item col-md-1 col-sm-1 mb-1 d-none badge badge-pill badge-dark"></span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	/*<![CDATA[*/
	$("#projects").on(
			"click",
			"a.project_link",
			function(e) {
				var url = /*[[@{/project/}]]*/"/project/";
				$.get(url + $(e.target).parents("div.project").attr("id"),
						function(data) {
							$("#projectModal #tech .tech_item:not(.d-none)")
									.remove();
							$("#projectModal #tags .tag_item:not(.d-none)")
									.remove();
							$("#projectModal #link .link_item:not(.d-none)")
									.remove();

							$("#projectModal #available").text(
									data.available ? "Yes" : "No");
							$("#projectModal #description").text(
									data.description);
							$("#projectModal #name").text(data.name);
							$("#projectModal #image").prop("src", data.image);
							$("#projectModal #status").text(data.status);
							$("#projectModal #year").text(data.year);
							$("#projectModal #type").text(data.type.name);
							for (var i = 0; i < data.tech.length; i++) {
								$("#projectModal #tech").append(
										$(".tech_item.d-none").clone()
												.toggleClass("d-none").find(
														"img.tech").prop("src",
														data.tech[i].image)
												.prop("title",
														data.tech[i].name)
												.end());
							}
							var tags = data.tags.split(",");
							for (var i = 0; i < tags.length; i++) {
								$("#projectModal #tags").append(
										$(".tag_item.d-none.badge").clone()
												.toggleClass("d-none").text(
														tags[i]));
							}
							for (var i = 0; i < data.links.length; i++) {
								$("#projectModal #links").append(
										$(".link_item.d-none").clone()
												.toggleClass("d-none")
												.find("a").prop("href",
														data.links[i].name)
												.text(data.links[i].display)
												.end());
							}
						});
			});
	/*]]>*/
</script>
</html>
</body>
</html>